* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(0, 211, 53);
    letter-spacing: 27px;
    font-size: 3rem;
}
canvas {
    background-color: rgb(0, 0, 0);
    border: white solid 7px;
    border-radius: 4px;
}

.score {
    color: white;
    letter-spacing: 5px;
}
#score { /*number display*/
    color: white;
}

#start-menu{
    position: absolute;
    text-align: center;
    letter-spacing: 4px;
    color: rgb(229, 233, 0);
}

/* #pause {
    position: absolute;
    background-color: black;
    border: rgb(78, 2, 255) 10px dotted;
    visibility: hidden;
} */

/* .game-paused {
    font-size: 2rem;
    color: white;
    padding: 1rem;
} */

#game-over {
    position: absolute;
    bottom: 8rem;
    text-align: center;
    padding: 5rem;

    font-size: 2rem;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 12px red solid;
    border-radius: 4px;

    visibility: hidden;
    transform: rotate(-7deg);
}

#game-over h2 {
color: red ;
}

@media (min-width: 650px) and (max-width:750px ) {
    h1{
        letter-spacing: 20px;
        font-size: 2rem;
    }
    canvas {
    width :400px;
    height : 400px;
    }
    #game-over {
    font-size: 1.5rem;
    }
}
@media (min-width: 550px) and (max-width:650px ) {
    h1{
        letter-spacing: 20px;
        font-size: 2rem;
    }
    canvas {
    width :400px;
    height : 400px;
    }
    #game-over {
        bottom: 11rem;
        font-size: 20px;
    }
}
@media (min-width: 450px) and (max-width:550px ) {
    h1{
        letter-spacing: 15px;
        font-size: 2rem;
    }
    canvas {
    width :350px;
    height : 400px;
    }
    #game-over {
        bottom: 11rem;
        font-size: 14px;
        font-size: 13px;
    }
}
@media (min-width: 350px) and (max-width:450px ) {
    h1{
        letter-spacing: 10px;
        font-size: 2rem;
    }
    canvas {
        width :270px;
        height : 400px;
    }
    #start-menu{
        letter-spacing: 0px;
    }
    #game-over {
        bottom: 16rem;
        font-size: 11px;
        padding: 3.7rem;
    }
}
@media (min-width: 50px) and (max-width:350px ) {
    h1{
        letter-spacing: 10px;
        font-size: 2rem;
    }
    canvas {
        width :270px;
        height : 400px;
    }
    #start-menu{
        letter-spacing: 0px;
    }
    #game-over {
        bottom: 19rem;
        font-size: 13px;
        padding: 0.7rem;
    }
}
